{port_specs, [
  {"priv/exml_event.so", ["c_src/exml_event.c"]},
  {"priv/exml_escape.so", ["c_src/exml_escape.c"]}
]}.

{port_env, [
  {".*", "CFLAGS",  "$CFLAGS -g -Wall"},
  {".*", "LDFLAGS", "$LDFLAGS -fPIC -lexpat"}
]}.

{plugins, [
  {pc, "1.1.0"}
]}.

{provider_hooks, [
  {post, [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
  ]}
]}.
